.contact {
  display: flex;
}

.img{
    width: 100%;
    height: 100%;
    z-index: -100;
    position: fixed;
}

.container{

    
    /* backgro
    und-color: rgba(0, 255, 255, 0.336) ; */
    
    /* background-image: url(https://api.mapbox.com/styles/v1/mapbox/dark-v10/static/151.0475,-33.9137,10.38,339,6/1280x900?access_token=pk.eyJ1IjoidXRzaHVrcmFqIiwiYSI6ImNsMXU5bnFidzBuNjYzYnF2d3hjYWoyaHkifQ.PA6KrC-v7bSI5z37uFcmyQ); */
}

.contact-left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.contact-right {
  flex: 1;
   margin-top: 3rem;
}

.c-title{
    font-size: 40px;
}

.card{
    background-color: rgb(121, 117, 117);
    width: 350px;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.c-info-item{
    display: flex;
    align-items: center;
    /* margin: 2rem 0; */
    font-weight: 300;
    width: 70%;

}

.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.contact-description{
    font-weight: 100;
    font-size: 20px;
    max-width: 300px;
    margin: 0 0 1rem 0;
}

.contact-description b{
    font-size: 22px;
}

form{
    margin-top: 20px;

}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 10rem;
    font-size: 14px;
    padding-left: 1rem;
    border-radius: 1rem;
    

}

textarea{
    width: 50%;
    height: 200px;
    margin: 10px 10rem;
    font-size: 14px;
    padding-left: 1rem;
    border-radius: 1rem;
}

button{
    margin: 10px 10rem;
}